<!DOCTYPE html>
<html>
    <head>
        <title>ogp test</title>
        <meta charSet="utf-8" />
        <meta name="Description" content="<%= description %>" />
        <meta property="og:title" content="<%= title %>" />
        <meta property="og:image" content="<%= ogp %>" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="<%= title %>" />
        <meta name="twitter:image" content="<%= ogp %>" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <main id="mount"></main>
        <script src="./index.js"></script>
    </body>
</html>